<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obsidian</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body class="bg-black text-zinc-300 min-h-screen flex flex-col items-center justify-center px-6">
    {% block content %}{% endblock %}
    <footer class="absolute bottom-6 text-xs text-zinc-800">
        © 2026 KainoVaii — MIT License
    </footer>
    {{ flash() | raw }}
</body>
</html>